
.p6o-map-popup-container-mobile .kima-selected-card-wrapper {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
}

.kima-selected-card {
  position: absolute;
  z-index: 3;
  padding: 0;
  width: 380px;
  border-radius: 6px;
  background-color: #fff;
  border: none; 
  box-shadow:0 0 24px rgba(0, 0, 0, 0.17);
}

.p6o-map-popup-container-mobile .kima-selected-card {
  max-width: 82%;
  position: initial;
}

.kima-selected-card header {
  height: 180px;
  overflow: hidden;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid #e7e7e7;

  display: flex;
  align-items: center;
  justify-content: center;
}

.kima-selected-card header .kima-selected-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kima-selected-card header .kima-selected-preview svg {
  font-size: 60px;
  color: #c7c7c7;
}

.kima-selected-card header .kima-selected-preview-loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kima-selected-card header .kima-selected-preview-loading svg {
  font-size: 30px;

  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;

}

.kima-selected-card header .kima-audio-controls {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9;
}

.kima-selected-card header .kima-audio-controls button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

.kima-selected-card header .kima-audio-controls button svg {
  font-size: 40px;
}

.kima-selected-card header .kima-audio-waveform {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
}

.kima-selected-card header .kima-audio-waveform wave {
  background-color: #f6f6f6;
}

.kima-selected-card header .kima-selected-fullscreen {
  position:absolute;
  border: none;
  outline: none;
  top: 6px;
  right: 6px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  cursor: pointer;
}

.kima-selected-card main {
  padding: 20px;
  max-height: 300px;
  overflow-y: auto;
}

.kima-selected-card main h1 {
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 19px;
}

.kima-selected-card main h2 {
  padding: 0;
  margin: 0;
}

.kima-selected-card main h2.type svg {
  font-size: 18px;
  vertical-align: middle;
}

.kima-selected-card main h2.type .label {
  padding: 0 5px;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}

.kima-selected-card a {
  color: #000;
  text-decoration: none;
} 

.kima-selected-card footer section {
  background-color: #fdfdfd;
  border-top: 1px solid #e7e7e7;
}

.kima-selected-card footer section.details {
  padding: 14px 14px 14px 20px;
  font-weight: 500;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.kima-selected-card footer section.details .chevron {
  transform: rotateZ(180deg);
}

.kima-selected-card footer section.details svg {
  font-size: 24px;
  vertical-align: bottom;
}

.kima-selected-card footer section.close {
  padding: 14px 16px 10px 20px;
  border-radius: 0 0 6px 6px;
  border-bottom:10px solid transparent;
  display: flex;
  justify-content: flex-start;
}

.kima-selected-card footer section.close button.close {
  border: none;
  outline: none;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  padding: 6px 10px;
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  cursor: pointer;
}