html, body, #app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #333;
  overflow: hidden;
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

.kima-tooltip {
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.17);
  box-shadow:0 0 24px rgba(0, 0, 0, 0.17);
}

.p6o-map-tooltip-container {
  pointer-events: none;
}

.kima-tooltip main {
  padding: 8px 10px;
}

.kima-tooltip main h1 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0 0 6px 0;
  max-width: 340px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.kima-tooltip main p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.kima-tooltip .kima-tooltip-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  width: 100%;
  box-sizing: border-box;
  padding: 8px 10px;
  background-color: #f7f8fa;
  border-radius: 0 0 5px 5px;
  font-size: 14px;
  white-space: nowrap;
  max-width: 340px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kima-welcome {
  line-height: 150%;
  direction: rtl;
}

.kima-welcome h1 {
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
}

.kima-welcome ul {
  padding: 0 25px 0 0;
}

.kima-welcome a {
  color: #2627db;
}

.kima-welcome .p6o-info-modal-main svg {
  font-size: 16px;
  vertical-align: text-top;
}

.kima-nli-logo {
  bottom: 0;
  position: absolute;
  left: 0;
}

.kima-nli-logo img.desktop {
  margin: 0 10px 25px 10px;
  width: 230px;
}

.kima-nli-logo img.mobile {
  margin: 0 15px 45px 0;
  width: 100px;
}

.p6o-kima-map-controls-container {
  left: 20px;
  position: absolute;
  top: 20px;
}

.p6o-aggs-values li {
  justify-content: flex-end;
}

.p6o-aggs-values li .p6o-agg-value {
  display: flex;
  flex-direction: row-reverse;
}